{% extends "layout.html" %}
{% block content %}
    <form method="post" action="/resultado">
        <div class="mb-3">
            <label for="num1" class="for-label">Numero 1:</label>
            <input type="number" class="form-control" id="num1" name="num1">
        </div>
        <div class="mb-3">
            <label for="num2" class="for-label">Numero 2:</label>
            <input type="number" class="form-control" id="num2" name="num2">
        </div>
        <button type="submit" class="btn  btn-primary">Calcular</button>
    </form>
{% endblock %}